body{
    pointer-events: none;
}
section {
    font: 3em arial;
    text-align: center;
    pointer-events: none;
}
#pres{
    pointer-events: none;
}

verysmall{
    font-size:0.5em;
    }

section h1 {
    font: 3em arial;
}

left {
    display: block;
    text-align: left;
    font: bold 1.2em arial;
}

icode{
    font-family: monospace;
    font-size: 1.2em;
    color: #349;
}

pre {
    padding:0;
    margin:0;
    }

code {
    background-color: #dfd;
    display: inline-block;
    text-align: left;
    padding: 1em;
    pointer-events: none;
}

ul,ol {
    display: inline-block;
    text-align: left;
}

svg ellipse{
    stroke: black;
}
svg text{
    font: 0.8em arial;
    pointer-events: none;
}

svg{
    background-color: #fff;
    pointer-events:all;
}
svg line{
    stroke: #000;
    stroke-width: 2;
}
.background_graph{
    position:absolute;
    left: 0;
    top: 0;
    z-index:-1;
}



.animate-enter{
    display: none;
    transition: display 1000ms;
    opacity: 1;
}
.animated{
    opacity: 0;
}


/* code colors */

codekw {   color:orange }
codered{   color:#f00 }
codegrn{   color:#0a0 }
codeblue{  color:#00f }
codecomm{  color:#290 }
codepurple{color:purple }
codestr{   color:#a73 }
codeorange{color:#f90 }
codepink{  color:#f0f }